*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    height: 55px;
    width: 100vw;
    border-bottom: solid 0.4px gray;
    display: flex;
    background-color: green;
}
.port{
    color: white;
    font-family: serif;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 20px;
}
.nav-links{
    margin-top: 15px;
    margin-left: 900px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: x-large;
}
.nav-links a{
    color: white;
    margin-left: 10px;
   text-decoration-line: none;
}
.nav-links a:hover{
    color: black;
}
#div2{
    height: 50vh;
    width: 100vw;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px 80px;
    background-color: blue;
}
.left{
    width:50%;
}
.heading1{
    font-size: xx-large;
    margin-bottom: 10px;
    color: yellow;
}
.heading2{
    font-size: x-large;
    color: yellow;
    margin-bottom: 20px;
}
#button1{
    padding:15px 30px;
    border:none;
    background-color: white;
    color: black;
    border-radius:6px;
    cursor:pointer;
}
#button1:hover{
    color: white;
    background-color: black;
}
.right{
    width:40%;
    text-align:center;
}
#photo{
    width:250px;
    height: 250px;
    border-radius: 50%
}
#div3{
    height: 50vh;
    width: 100vw;
    background-color: aqua;
    padding:60px;
    text-align:center;
}
.heading3{
    color: blue;
    font-size: xx-large;
    font-weight: bold;
    margin-bottom:22px;
}
.p1{
    width: 900px;
    margin:auto;
    font-size:20px;
    color: black;
}
#div4{
    height: 50vh;
    width: 100vw;
    background-color: blueviolet;
    padding:60px;
    text-align:center;
    /* background:white; */
}
#div4 h1{
    color: pink;
    font-size: xx-large;
    font-weight: bold;
}
.skills-box{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
    margin-top:40px;
}
.skill-card{
    width:200px;
    background-color:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0px 3px 10px rgba(0,0,0,0.1);
}
.logo{
    width:70px;
    margin-bottom:10px;
}
.stars{
    color:gold;
}
#div5{
    height: 60vh;
    width: 100vw;
    background-color: cornflowerblue;
    padding:80px;
    text-align:center;
}
.title{
    color: purple;  
    font-size: xx-large;
    font-weight: bold;
    margin-bottom:40px;
}
.projects-box{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}
.card{
    height: 250px;
    width:250px;
    background-color:white;
    padding:50px;
    border-radius:10px;
    box-shadow:0px 3px 10px rgba(0,0,0,0.1);
}
.name{
    color: blue;
    font-size: larger;
    font-size:20px;
    font-weight:bold;
    margin-bottom:10px;
}
.text{
    color: black;
    margin-bottom:15px;
}
.button1{
    padding:10px 20px;
    border:none;
    background-color:black;
    color:white;
    border-radius:5px;
    cursor:pointer;
}
.button1:hover{
    color: black;
    background-color: grey;
}
section{
    height: 60vh;
    width: 100vw;
    background-color: rgb(208, 241, 119);
    text-align:center;
}
.container{
    padding: 80px;
}
.container h1{
    color: black;
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 20px;
}
.container p{
    font-size: larger;
}
input[type=text],input[type=email],textarea{
    display: inline;
    width: 20%;
    padding: 5px 8px;
    margin-top: 6px;
    border: 1px solid black;
    border-radius: 6px;
}
label{
    margin-right: 15px;
    vertical-align: middle;
    font-weight: normal;
    font-size: larger;
}
input[type=radio],input[type=checkbox]{
    margin-right: 5px;
    vertical-align: middle;
}
.radio{
    margin-top: 5px;
}  
b{
    font-size: larger;
}
.checkbox{
    margin-top: 5px;
}
.submit{
    height: 40px;
    width: 140px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    background-color: white;
    margin-top: 10px;
}
.submit:hover{
    color:  white;
    background-color: black;
}
#div7{
    height: 10vh;
    width: 100vw;
    background-color: black;
    display: flex;
}
#div7 .footer-text{
    color: white;
    font-size: larger;
    margin-top: 20px;
    margin-left: 20px;
}
#div7 .social-links{
    margin-top: 20px;
    margin-left: 850px;
}
#div7 .social-links a{
    color: white;
    font-size: larger;
    margin-left: 10px;
    text-decoration-line: none;
}